<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>works</title>
    <meta name="description" content="">
    <meta name="author" content="Madalina Trion">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- ICON FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/isotope.css">
    <link rel="stylesheet" href="css/venobox.css">
    <link rel="stylesheet" href="css/vegas.css">
    <link rel="stylesheet" href="css/sinister.css">
    <link rel="stylesheet" href="css/slimmenu.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main-bg.css">
    <link rel="stylesheet" href="css/main-responsive.css">

    <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--
        <link rel="stylesheet/less" type="text/css" href="less/color.less">
        <link rel="stylesheet/less" type="text/css" href="less/fonts.less">
        <script src="less/less.min.js"></script> -->

</head>

<body>

<div class="logo-container-top">
    <a href="index.html"><h1 align="center"><img src="assets/img/logo/whiteLogo.png" alt="Awards"></h1></br></a>
</div>
<!-- Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="preloader" class="signature-claus">
    <div id="status"></div>
</div>
<!-- end : preloader -->

<!-- mobile only navigation : starts -->
<nav class="mobile-nav signature-claus">
    <ul class="slimmenu">
        <li>
            <a class="sub-collapser" href="#">home</a>
            <ul>
                <li><a href="index.html">fullscreen slider</a></li>
                <li><a href="index02.html">fullscreen video</a></li>
            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">portfolio</a>
            <ul>
                <li><a href="works01.html">2 column</a></li>
                <li><a href="works02.html">3 column</a></li>
                <li><a href="works03.html">4 column</a></li>
                <li><a href="works04.html">multi column</a></li>
            </ul>
        </li>
        <li><a href="about.html">about</a></li>
        <li><a href="journal.html">journal</a></li>
        <li><a href="contact.html">contact</a></li>
        <li>
            <a class="sub-collapser" href="#">project</a>
            <ul>
                <li><a href="project01.html">slider project</a></li>
                <li><a href="project02.html">video project</a></li>
                <li><a href="project03.html">parallax project</a></li>
                <li><a href="project04.html">lightbox project</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- mobile only navigation : ends -->



<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="masthead signature-claus">
    <div class="masthead-inner">
        <a href="index.html"><img alt="" title="" src="img/logo.png"></a>
        <nav class="mastnav signature-claus">
            <ul class="main-menu signature-claus">
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="index.html">home</a>
                    <div class="sub-menu font3bold">
                        <a href="index.html">fullscreen slider</a>
                        <a href="index02.html">fullscreen video</a>
                    </div>
                </li>
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="biography.html">Biography</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="awards.html"> Awards</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="gallery.html">Gallery</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="portofolio.html">Portofolio</a>
                    <div class="sub-menu font3bold">
                        <a href="audio.html">Audio</a>
                        <a href="video.html">Video</a>

                    </div>
                </li>


                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="events.htm">Events</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="contact.html">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<!-- end : masthead -->



<!-- MASTER CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="mastwrap signature-claus">
    <div class="inner-wrap no-pad">
        <section id="works-container" class="works-container signature-claus works-masonry-container clearfix silver-bg works-thumbnails-view">
          <!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/01.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/01.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">1</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->

               <!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/02.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/02.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">2</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
				
				 <!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/03.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/03.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">3</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
               <!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/04.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/04.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">4</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->

             <!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/05.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/05.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">5</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
             <!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/06.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/06.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">6</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->

				<!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/07.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/07.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">7</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
				
				<!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/08.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/08.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">8</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
				
				<!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/09.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/09.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">9</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
				
				<!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/10.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/10.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">10</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
				
				<!-- start : works-item -->
                <div class="works-item signature-claus ImageWrapper works-item-one-half zoom ui web">
                    <img data-no-retina alt="" title="" class="img-responsive" src="img/awards/11.jpg"/>
                    <a  class="venobox" data-gall="portfolio-gallery" href="img/awards/11.jpg">
                        <div class="works-item-inner ImageOverlayHe">
                            <p class="valign text-center"><span class="white font3">11</span></p>
                        </div>
                    </a>
                </div>
                <!-- end : works-item -->
</section>
<!-- end : mastwrap -->



<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot signature-claus white-bg">
    <div class="container-fluid">

        <div class="row">
            <article class="col-md-1 text-left">
                <img data-no-retina alt="" title="" class="img-responsive" src="img/logo.png"/>
            </article>
            <article class="credits col-md-5  text-left">
                <p class="font3 dark">Copyright &copy; 2017 <a target="_blank" href="#">Madalina Trion</a>.<br/><a target="_blank" href="#"></a></p>
            </article>
            <ul class="foot-social col-md-6 text-right">
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/01.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/02.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/03.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/04.svg"/></a></li>
            </ul>
        </div>

    </div>
</footer>
<!-- end : mastfoot -->





<!-- End Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/libs/common.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/custom/main.js"></script>

</body>
</html>