<!DOCTYPE html>
<html lang="ro-RO" itemscope itemtype="http://schema.org/WebPage">
<head>

<title>Mădălina Trion</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="robots" content="all, index, follow" />

<!-- Twitter Cards Metadata -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="#" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:creator" content="" />
<meta name="twitter:image" content="img/og-logo.png" />
<meta name="twitter:domain" content="" />


<!-- Open Graph ProtocolMeta Values -->
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="img/og-logo.png" />
<meta property="og:site_name" content="" />
<meta property="fb:app_id" content="299157527162971" />

<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<!-- Add the following three tags inside head. -->
<meta itemprop="name" content="" />
<meta itemprop="description" content="" />
<meta itemprop="image" content="img/og-logo.png" />

<!-- PREV / NEXT for pagination -->

<!-- Pinterest Verification Code -->
<meta name="p:domain_verify" content="" />

<!-- Google Webmaster Tools Verification Code -->
<meta name="google-site-verification" content="" />

<!-- Microsoft Bing Webmaster Tools Verification Code -->
<meta name="msvalidate.01" content="" />

<!-- Canonical Url -->
<link rel="canonical" href="" />

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="img/ico/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="img/ico/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="img/ico/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="img/ico/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="img/ico/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="img/ico/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="img/ico/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="img/ico/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="img/ico/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192"  href="img/ico/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="img/ico/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="img/ico/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="img/ico/favicon-16x16.png" />
<link rel="manifest" href="img/ico/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="img/ico/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
<link rel="shortcut icon" href="img/ico/favicon.ico" type="image/x-icon" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- ICON FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/isotope.css">
    <link rel="stylesheet" href="css/venobox.css">
    <link rel="stylesheet" href="css/vegas.css">
    <link rel="stylesheet" href="css/sinister.css">
    <link rel="stylesheet" href="css/slimmenu.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main-bg.css">
    <link rel="stylesheet" href="css/main-responsive.css">

    <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--
        <link rel="stylesheet/less" type="text/css" href="less/color.less">
        <link rel="stylesheet/less" type="text/css" href="less/fonts.less">
        <script src="less/less.min.js"></script> -->


</head>

<body>


<!-- Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="preloader" class="signature-claus">
    <div id="status"></div>
</div>
<!-- end : preloader -->

<!-- mobile only navigation : starts -->
<nav class="mobile-nav signature-claus">
    <ul class="slimmenu">
        <li>
            <a class="sub-collapser" href="#">Home</a>
            <ul>
                <li><a href="index.html">fullscreen slider</a></li>
                <li><a href="index02.html">fullscreen video</a></li>
            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">Biography</a>
        </li>

        <li>
            <a class="sub-collapser" href="#"> Awards</a>
        </li>
        <li>
            <a class="sub-collapser" href="#">Gallery </a>
        <li>
            <a class="sub-collapser" href="#">Portfolio </a>
        </li>

        <li>
            <a class="sub-collapser" href="#"> Events </a>
            <ul>
                <li><a href="works01.html">Audio</a></li>
                <li><a href="works02.html">Video</a></li>

            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">Contact </a>
        </li>


        <li><a href="about.html">about</a></li>
        <li><a href="journal.html">journal</a></li>
        <li><a href="contact.html">contact</a></li>
        <li>
            <a class="sub-collapser" href="#">project</a>
        </li>
    </ul>
</nav>
<!-- mobile only navigation : ends -->



<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="masthead signature-claus">
    <div class="masthead-inner">
        <a href="index.html"><img alt="" title="" src="img/logo-gold.png" height="60"></a>
        <nav class="mastnav signature-claus">
            <ul class="main-menu signature-claus">
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="index.html">Home</a>
                    <div class="sub-menu font3bold">
                        <a href="index.html">fullscreen slider</a>
                        <a href="index02.html">fullscreen video</a>
                    </div>
                </li>
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="biography.html">Biography</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="awards.html"> Awards</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="gallery.html">Gallery</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="portofolio.html">Portofolio</a>
                    <div class="sub-menu font3bold">
                        <a href="audio.html">Audio</a>
                        <a href="video.html">Video</a>

                    </div>
                </li>


                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="events.html">Events</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="contact.html">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<!-- end : masthead -->



<!-- MASTER CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="mastwrap signature-claus">
    <div class="inner-wrap no-pad">

        <section class="intro-01 signature-claus fullheight">


        </section>

    </div>
    <!-- end : inner-wrap -->

</section>
<!-- end : mastwrap -->


<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot signature-claus white-bg">
    <div class="container-fluid">

        <div class="row">
            <article class="col-md-1 text-left">
                <img data-no-retina alt="" title="" class="img-responsive" src="img/logo.png" height="40" />
            </article>
            <article class="credits col-md-5  text-left">
                <p class="font3 dark">Copyright &copy; 2017 <a target="_blank" href="#">Madalina Trion</a>.<br/><a target="_blank" href="#"></a></p>
            </article>
            <ul class="foot-social col-md-6 text-right">
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/01.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/02.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/03.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/04.svg"/></a></li>
            </ul>
        </div>

    </div>
</footer>
<!-- end : mastfoot -->







<!-- End Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/libs/common.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/custom/main.js"></script>
<script>
    $('body').vegas({
        preload:true,
        overlay:true,
        cover:true,
        transition: 'swirlRight',
        transitionDuration: 3000,
        slides: [
            { src: 'img/bg/01.jpg' },
            { src: 'img/bg/02.jpg' },
            { src: 'img/bg/03.jpg' }
        ]
    });
</script>
</body>

</html>