<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Madalina Trion</title>
    <meta name="description" content="">
    <meta name="author" content="Madalina Trion">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- ICON FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/isotope.css">
    <link rel="stylesheet" href="css/venobox.css">
    <link rel="stylesheet" href="css/vegas.css">
    <link rel="stylesheet" href="css/sinister.css">
    <link rel="stylesheet" href="css/slimmenu.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main-bg.css">
    <link rel="stylesheet" href="css/main-responsive.css">
    <link rel="stylesheet" href="css/custom.css">
	
	

    <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--
        <link rel="stylesheet/less" type="text/css" href="less/color.less">
        <link rel="stylesheet/less" type="text/css" href="less/fonts.less">
        <script src="less/less.min.js"></script> -->


</head>

<body>


<!-- Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="preloader" class="signature-claus">
    <div id="status"></div>
</div>
<!-- end : preloader -->

<!-- mobile only navigation : starts -->
<nav class="mobile-nav signature-claus">
    <ul class="slimmenu">
        <li>
            <a class="sub-collapser" href="#">Home</a>
            <ul>
                <li><a href="index.html">fullscreen slider</a></li>
                <li><a href="index02.html">fullscreen video</a></li>
            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">Biography</a>
        </li>

        <li>
            <a class="sub-collapser" href="#"> Awards</a>
        </li>
        <li>
            <a class="sub-collapser" href="#">Gallery </a>
        <li>
            <a class="sub-collapser" href="#">Portfolio </a>
        </li>

        <li>
            <a class="sub-collapser" href="#"> Events </a>
            <ul>
                <li><a href="works01.html">Audio</a></li>
                <li><a href="works02.html">Video</a></li>

            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">Contact </a>
        </li>


        <li><a href="about.html">about</a></li>
        <li><a href="journal.html">journal</a></li>
        <li><a href="contact.html">contact</a></li>
        <li>
            <a class="sub-collapser" href="#">project</a>
        </li>
    </ul>
</nav>
<!-- mobile only navigation : ends -->



<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="masthead signature-claus">
    <div class="masthead-inner">
        <a href="index.html"><img alt="" title="" src="img/logo.png"></a>
        <nav class="mastnav signature-claus">
            <ul class="main-menu signature-claus">
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="index.html">Home</a>
                    <div class="sub-menu font3bold">
                        <a href="index.html">fullscreen slider</a>
                        <a href="index02.html">fullscreen video</a>
                    </div>
                </li>
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="biography.html">Biography</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="awards.html"> Awards</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="gallery.html">Gallery</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="portofolio.html">Portofolio</a>
                    <div class="sub-menu font3bold">
                        <a href="audio.html">Audio</a>
                        <a href="video.html">Video</a>

                    </div>
                </li>


                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="events.html">Events</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="contact.html">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<!-- end : masthead -->


<!-- MASTER CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="mastwrap signature-claus">

    <section class="project-title signature-claus silver-bg pad-top-quarter pad-bottom-quarter pad-left-quarter">
        <h1 class="font3">Video<span class="font3light dark">Muzica populara si de petrecere</span></h1>
    </section>
    <section>
        <div class="container">

        </div>
        <div class="row">
           <div class="col-md-6 video-padding">
		   <h3 class="video-title">Trion Madalina-Ardelene</h3>
               <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WcPwqNeDFDM?ecver=1" frameborder="0" allowfullscreen></iframe>
               </div>
        </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-Ascultari</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fMYydUMDttc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-"Dragoste curata"</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tmxGJ36MRwY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-Nunta Aqua Ballroom</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HEX9BhRK8aI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-Brauri Live</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1N5nEgZrQcA" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-"In Banat ii tot neamul meu"</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iwRzap6-nP0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-Botez Resita</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KhmkcGSPlV8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 video-padding">
			<h3 class="video-title">Trion Madalina-Spectacol "Roadele Toamnei"</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/65C9CFMHVX4" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
       </div>
    </section>
    <!-- end : works-container -->






    <section class="project-nav signature-claus silver-bg">
        <div class="container-fluid">
            <div class="row">
                <article class="col-md-12 text-left no-pad text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </article>
            </div>
        </div>
    </section>


</section>
<!-- end : mastwrap -->



<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot signature-claus white-bg">
    <div class="container-fluid">

        <div class="row">
            <article class="col-md-1 text-left">
                <img data-no-retina alt="" title="" class="img-responsive" src="img/logo.png"/>
            </article>
            <article class="credits col-md-5  text-left">
                <p class="font3 dark">Copyright &copy; 2017 <a target="_blank" href="#">Madalina Trion</a>.<br/><a target="_blank" href="#"></a></p>
            </article>
            <ul class="foot-social col-md-6 text-right">
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/01.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/02.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/03.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/04.svg"/></a></li>
            </ul>
        </div>

    </div>
</footer>
<!-- end : mastfoot -->








<!-- End Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/libs/common.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/custom/main.js"></script>
<script src="js/custom/elements.js"></script>

</body>

</html>