
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Madalina Trion</title>
    <meta name="description" content="">
    <meta name="author" content="Madalina Trion">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- ICON FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/isotope.css">
    <link rel="stylesheet" href="css/venobox.css">
    <link rel="stylesheet" href="css/vegas.css">
    <link rel="stylesheet" href="css/sinister.css">
    <link rel="stylesheet" href="css/slimmenu.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main-bg.css">
    <link rel="stylesheet" href="css/main-responsive.css">

    <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--
        <link rel="stylesheet/less" type="text/css" href="less/color.less">
        <link rel="stylesheet/less" type="text/css" href="less/fonts.less">
        <script src="less/less.min.js"></script> -->


</head>

<body>


<!-- Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="preloader" class="signature-claus">
    <div id="status"></div>
</div>
<!-- end : preloader -->

<!-- mobile only navigation : starts -->
<nav class="mobile-nav signature-claus">
    <ul class="slimmenu">
        <li>
            <a class="sub-collapser" href="#">Home</a>
            <ul>
                <li><a href="index.html">fullscreen slider</a></li>
                <li><a href="index02.html">fullscreen video</a></li>
            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">Biography</a>
        </li>

        <li>
            <a class="sub-collapser" href="#"> Awards</a>
        </li>
        <li>
            <a class="sub-collapser" href="#">Gallery </a>
        <li>
            <a class="sub-collapser" href="#">Portfolio </a>
        </li>

        <li>
            <a class="sub-collapser" href="#"> Events </a>
            <ul>
                <li><a href="works01.html">Audio</a></li>
                <li><a href="works02.html">Video</a></li>

            </ul>
        </li>
        <li>
            <a class="sub-collapser" href="#">Contact </a>
        </li>


        <li><a href="about.html">about</a></li>
        <li><a href="journal.html">journal</a></li>
        <li><a href="contact.html">contact</a></li>
        <li>
            <a class="sub-collapser" href="#">project</a>
        </li>
    </ul>
</nav>
<!-- mobile only navigation : ends -->


<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="masthead signature-claus">
    <div class="masthead-inner">
        <a href="index.html"><img alt="" title="" src="img/logo.png"></a>
        <nav class="mastnav signature-claus">
            <ul class="main-menu signature-claus">
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="index.html">Home</a>
                    <div class="sub-menu font3bold">
                        <a href="index.html">fullscreen slider</a>
                        <a href="index02.html">fullscreen video</a>
                    </div>
                </li>
                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="biography.html">Biography</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="awards.html"> Awards</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="gallery.html">Gallery</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="portofolio.html">Portofolio</a>
                    <div class="sub-menu font3bold">
                        <a href="audio.html">Audio</a>
                        <a href="video.html">Video</a>

                    </div>
                </li>


                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="events.html">Events</a>
                </li>

                <li>
                    <a class="main-link font3bold sub-menu-trigger" href="contact.html">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
<!-- end : masthead -->


<!-- MASTER CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="mastwrap signature-claus">

    <section class="first-fold signature-claus fullheight about-bg parallax" data-stellar-background-ratio="0.5">
        <section class="main-heading fixed-top">
            <h1 class="black font3bold">About</h1>
            <h6 class="black font3light">Welcome to my portfolio</h6>
            <div class="liner color-bg"></div>
        </section>
    </section>

    <div class="inner-wrap silver-bg">

        <section class="hero-text text-center">
            <div class="row add-top-quarter">
                <article class="col-md-8 col-md-offset-2">
                    <h3 class="black font3bold">Welcome to my portfolio</h3>
                    <div class="liner-small color-bg"></div>
                </article>
            </div>
            <div class="row add-top-quarter">
                <article class="col-md-8 col-md-offset-2">
                    <p class="grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.<br/><br/>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </article>
            </div>
        </section>




    </div>
    <!-- end : inner-wrap -->


</section>
<!-- end : mastwrap -->



<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot signature-claus white-bg">
    <div class="container-fluid">

        <div class="row">
            <article class="col-md-1 text-left">
                <img data-no-retina alt="" title="" class="img-responsive" src="img/logo.png"/>
            </article>
            <article class="credits col-md-5  text-left">
                <p class="font3 dark">Copyright &copy; 2017 <a target="_blank" href="#">Madalina Trion</a>.<br/><a target="_blank" href="#"></a></p>
            </article>
            <ul class="foot-social col-md-6 text-right">
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/01.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/02.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/03.svg"/></a></li>
                <li><a href="#"><img data-no-retina alt="" title="" src="img/social/04.svg"/></a></li>
            </ul>
        </div>

    </div>
</footer>
<!-- end : mastfoot -->







<!-- End Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/libs/common.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/custom/main.js"></script>

</body>

</html>