
.video-padding {
	padding: 5px 10px 0px 30px;

}
.video-title {
	  margin: 1em 0 1em 0;
}
		
.tableEvents table th {
    font-weight: 700;
    text-transform: uppercase;
    color: #525252;
    font-size: 1.3rem;
    padding: 1.5rem 0;
    border-top: 1px solid rgba(206, 206, 206, 0.3);
    border-bottom: 1px solid rgba(206, 206, 206, 0.3);
}
